{% extends "base.html" %}
{% block content %}
	{% load static %}

            <!-- BioGhrapy Section-->
            <section class="bg-light py-5">
                <div class="container px-5">
                  <div class="col-xxl-7">
                    <!-- Header profile picture-->
                    <div class="d-flex justify-content-center ">
                        <div class="profile bg-gradient-primary-to-secondary">
                            <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                            <!-- Watch a tutorial on how to do this on YouTube (link)-->
                            <img class="profile-img" src="{% static 'assets/Myprofile.png' %}" alt="..." />

                                <!-- END of SVG dots-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Biography</span></h2>
                                <p class="lead fw-light mb-4">{{biography.0}}</p>
                                <p class="text-muted">{{biography.1}}</p>
                                <p class="text-muted">{{biography.2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
  {% endblock %}